.container {
  margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.row {
  border: 1px solid #000; /* Agrega un borde de 1px sólido negro a todas las filas */
  text-align: center; /* Centra el contenido de las filas */
}

.col {
  padding: 10px; /* Ajusta el espacio interno de las columnas según sea necesario */
  border-right: 1px solid #000; /* Agrega un borde derecho de 1px sólido negro a todas las columnas */
}

.btn-light-gray {
  background-color: #d3d3d3;
  color: #000; /* Color de texto negro para contrastar */
}

.btn-light-gray:hover {
  background-color: #b0b0b0; /* Cambia el color al pasar el cursor sobre el botón */
}

/* Elimina el borde derecho de la última columna */
.col:last-child {
  border-right: none;
}
.search-form {
  width: 100%;
}

.search-heading {
  font-weight: bold;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  text-align: left;
}

.row-light-gray {
  background-color: #d3d3d3;
}

.row-light-gray-center {
  background-color: #e0e0e0;
}

.column-heading {
  font-weight: bold;
}

.results-heading {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  text-align: left; /* Alinea el texto a la izquierda */
  font-weight: bold; /* Hace que el texto sea negrita */
}
