.container {
  margin-top: 50px;
}
.navbar-light .navbar-nav .nav-link.dashboard-link {
  color: blue; 
}
.navbar-fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

body {
  padding-top: 56px;
}

.row {
  border: 1px solid #000;
  text-align: center;
}

.col {
  padding: 10px;
  border-right: 1px solid #000;
}

.btn-light-gray {
  background-color: #d3d3d3;
  color: #000;
}

.btn-light-gray:hover {
  background-color: #b0b0b0;
}

.col:last-child {
  border-right: none;
}
.search-form {
  width: 100%;
}

.search-heading {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

.row-light-gray {
  background-color: #d3d3d3;
}

.row-light-gray-center {
  background-color: #e0e0e0;
}

.column-heading {
  font-weight: bold;
}

.results-heading {
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
}
