.form-group label {
  font-weight: bold; /* Make labels bold */
}

.form-group {
  text-align: left; /* Align text to the left */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.btn-register {
  background-color: #e0e0e0; /* Set the background color to light gray */
  color: #000; /* Set the text color to black */
  border: none; /* Remove the border */
  font-weight: bold; /* Make the font bold */
}

.btn-register:hover {
  background-color: #cccccc; /* Darken the background color on hover */
  color: #000; /* Set the text color to black */
}
